$asideSize : 250px;

 body{
      background-color: #e9ebee;
    }

main{

 	aside{
      margin-top: 52px;
      width: $asideSize;
     position: fixed;
     top: 0;
     ul.v-menu{
     	    
     	    li.menu-title{
     	    	
     	    	font-size: 15px;
     	    }
     	    li:not(.menu-title){
     	    	a{font-size: 15px; height: 40px;}
     	    	&:hover{
     	    		
     	    	};
     	    }
     }
      }
	 article{
	       margin-top: 52px;
	       background: #ffff; 
	       margin-left: $asideSize;
	   }
    }
    

